[Unit]
Description=Graphite Carbon Cache
After=network.target

[Service]
Type=forking
StandardOutput=syslog
StandardError=syslog
ExecStart=/opt/graphite/bin/carbon-cache.py --config=/opt/graphite/conf/carbon.conf --pidfile=/var/run/carbon-cache.pid --logdir=/opt/graphite/log/ start
PIDFile=/var/run/carbon-cache.pid

[Install]
WantedBy=multi-user.target
